<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524848728792-3ichvh3jdn1ifq4faa5kftbnr8bj5pn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524848728792-3ichvh3jdn1ifq4faa5kftbnr8bj5pn9</string>
	<key>API_KEY</key>
	<string>AIzaSyB3tjuqjlE1TDhB4yP10pDv24Wkt5hcZ9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>524848728792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assnake.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>assnake-5e577</string>
	<key>STORAGE_BUCKET</key>
	<string>assnake-5e577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524848728792:ios:6e96e115a4d42a9fbb65ad</string>
</dict>
</plist>